.button {
    border: 1px solid #94bade;
    background-color: #EE00004D;
    transition: all 100ms linear;
}

.button:disabled {
    pointer-events: none;
}

.button:hover:not(:disabled),
.button[data-focus-visible-added]:not(:disabled) {
    filter: drop-shadow(0 0 5px white);
    box-shadow: 0 0 5px white;
}

.button.available {
    background-color: #0094FF4D;
}

.button:focus {
    outline: none;
}

.button:disabled {
    background: #EE00004D;
}