.container {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.container.top {
  bottom: unset;
  top: 0;
}

.container.opened {
  opacity: 1;
  pointer-events: auto;
}


.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  transition: opacity 300ms linear;
  opacity: 0;
}

.mask.opened {
  opacity: 1;
}

.content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.content.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, 100%, 0);
  transition: all 300ms linear;
}


.content.top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 300ms linear;
  transform: translate3d(0, -100%, 0);
}


.content.right {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  transition: all 300ms linear;
  transform: translate3d(100%, 0, 0);
}

.content.opened {
  transform: translate3d(0, 0, 0);
}


.content.css {

}