.item {
    width: 55px;
    height: 55px;
    border: 1px solid #94bade;
    background-color: #EE00004D;
    transition: all 300ms linear;
}

.item.available {
    background-color: #0094FF4D;
}

.item:hover,
.item:focus {
    filter: drop-shadow(0 0 5px white);
    box-shadow: 0 0 5px white;
    outline: none;
}


.image {
    width: 41px;
    height: 41px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}