@import "../theme";

.apply {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid $select;
  box-shadow: inset 0 0 0.2rem $select, 0 0 0.1rem $select;
  color: $select;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  transition: 150ms all linear;
}

.apply:hover {
  box-shadow: inset 0 0 0.4rem $select, 0 0 0.2rem $select;
}

@media (min-width: 421px) and (max-width: 1279px) {
  .apply {
    align-self: flex-end;
    margin-top: 0.5rem;
  }
}


.count {
  margin-top: -2px;
  margin-left: -2px;
}


.image {
  min-width: 75px;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

@media (min-width: 421px) and (max-width: 1279px) {
  .image {
    min-height: 55px;
  }
}


.table {
  flex: 1;
  margin-right: 1rem;
}

@media (min-width: 421px) and (max-width: 1279px) {
  .table {
    margin: 0;
  }
}


.title {
  display: flex;
  align-items: center;
  align-self: center;
}


@media (min-width: 1280px) {
  .title {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}


.name {
  font-size: large;
  color: $select;
  filter: drop-shadow(0 2px 5px $select);
  text-align: center;
}


.scrollable {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  min-height: 10rem;
}

@media (min-width: 421px) {
  .scrollable {
    justify-content: flex-start;
  }
}

@media (min-width: 1280px) {
  .scrollable {
    flex: unset;
  }
}


.modal {
  background: $background;
  box-shadow: 0 -1px 5px $primary;
  padding: 1rem 1rem 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: calc(100% - 3rem);
}

@media (min-width: 1280px) {
  .modal {
    height: 100%;
    max-height: unset;
    border-radius: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    margin-top: unset;
    max-width: 40vw;
  }
}


.divider {
  min-width: 1px;
  min-height: 1px;
  background: $secondary;
  box-shadow: 0 0 5px $secondary;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  flex-shrink: 0;
}

@media (min-width: 421px) and (max-width: 1279px) {
  .divider.adaptive {
    margin: 0 0.5rem;
  }
}

@media (min-width: 1280px) {
  .divider.mobile {
    display: none;
  }
}


.info {
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
}

@media (min-width: 421px) and (max-width: 1279px) {
  .info {
    flex-direction: row;
  }
}


.skills {
  display: flex;
}

@media (min-width: 421px) and (max-width: 1279px) {
  .skills {
    flex-direction: column;
  }
}