@import "../theme";

.cell {
  min-width: 1.2rem;
  text-align: end;
}


.count {
  color: $positive;
}


.count.error {
  color: $error;
}


.button.active {
  color: $positive;
}

.button:hover {
  filter: drop-shadow(0 0 2px $secondary);
}