@import "../theme";

.drawer {
  position: fixed;
  bottom: 0;
  right: 0;

  transition: all 300ms linear;

  width: 100%;
  height: 100%;
  transform: translate3d(0, 100%, 0);
}

@media (min-width: 768px) {
  .drawer {
    width: unset;
    height: 100%;
    transform: translate3d(100%, 0, 0);
  }
}


.close {
  height: 2rem;
  background: #0d152d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.icon {
  height: 1.5rem;
  fill: $text;
}