@import "../theme";

.item {
    width: 55px;
    height: 55px;
    position: relative;
}

.item.highlighted {
    box-shadow: inset 0 0 10px $secondary;
}


.highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: $error;
    font-size: larger;
    font-weight: bold;
    opacity: 0;
    transition: opacity 100ms linear;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight.visible {
    opacity: 1;
}

.highlight.available {
    color: $positive;
}