@import "../theme";

.skill {
    display: flex;
}

.skill + .skill {
    margin-top: 3px;
}

.skill:focus {
    outline: none;
}


.name {
    flex: 1;
    padding-right: 0.8rem;
}

.name.required {
    color: $select;
    filter: drop-shadow(0 3px 5px $select);
}


.count {
    min-width: 1.2rem;
}


.required_count {
    min-width: 2rem;
}


.button {
    background: $neutral-dark !important;
    width: 1.3em;
    height: 1.3em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button + .button {
    margin-left: 0.5rem;
}


.sign {
    line-height: 1.3em;
    margin-top: -2px;
}