@import '../../theme.scss';

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media (min-width: 1280px) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }
}

.column {
  margin-bottom: 1rem;
}
