@import '../../theme';

.container {
  background: $secondary;
  box-shadow: 0 0 3px $secondary;
  height: 1px;
  display: flex;
  justify-content: flex-start;
}

.progress {
  background: $select;
  box-shadow: 0 0 3px $select;
  height: 100%;
  transition: min-width 200ms linear;
}