.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .skills {
        flex-direction: row;
    }
}


.column {
    position: relative;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.divider {
    width: 1px;
    background: #17d2ff;
    box-shadow: 0 0 5px #17d2ff;
}