@import "../theme.scss";

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .skills {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media (min-width: 1280px) {
    .skills {
        justify-content: space-between;
        flex-direction: row;
        margin-top: 1rem;
    }
}


.column {
    position: relative;
    margin-right: 3px;
    margin-left: 3px;
}

.divider {
    min-width: 1px;
    min-height: 1px;
    background: $primary;
    box-shadow: 0 0 5px $primary;
    margin: 0.5rem;
}

@media (min-width: 1280px) {
    .divider {
        margin: 0;
    }
}