.panel {
    border: 1px solid #94badeb3;
}

.title {
    border-bottom: 2px solid #94badeb3;
    margin: 0;
    font-size: medium;
    font-weight: 400;
    text-align: center;
    padding: 1px;
}

.content {
    margin: 2px;
}