$background: #0d152d;
$primary: #17d2ff;
$secondary: #94bade;
$negative: #EE00004D;
$neutral: #0094FF4D;
$neutral-dark: #0094ff1a;
$positive: #43D937;
$select: #fdc855;
$error: #d96548;
$text: #c1d5db;